/* Estilos comunes */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #ffffff;
    text-align: left;
}

.theme-toggle {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.icon {
    width: 24px;
    height: 24px;
}

/* Mostrar iconos según el tema */
body.light-theme #theme-icon {
    content: url('images/moon.svg');
}

/* Tema claro */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.light-theme .main-nav {
    background-color: #f0f0f0;
}

body.light-theme .main-nav a {
    color: #000000;
}

body.light-theme .main-nav a:hover {
    color: #3333ff !important;
}

body.light-theme a {
    color: #3333ff;
}

body.light-theme a:hover {
    color: red;
}

body.light-theme h1, 
body.light-theme h2, 
body.light-theme h3, 
body.light-theme h4, 
body.light-theme h5, 
body.light-theme h6 {
    color: #000000;
}

body.light-theme footer {
    background-color: #f0f0f0;
    color: #000000;
}

.header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-nav ul li {
    margin: 5px;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    display: inline-block;
}

.main-nav a:hover {
    color: #85ABED !important;
}

.main-nav a:visited,
.main-nav a:active {
    color: #ffffff;
}

a {
    color: #85ABED;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited,
a:active {
    color: #85ABED;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 700;
}

.slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.slides {
    display: flex;
    width: auto;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    max-width: 100%;
    height: auto;
}

.video-slider-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.video-slider {
    display: inline-block;
}

video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.softwares-logos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.softwares-logos li {
    margin: 10px;
}

.softwares-logos img {
    height: 48px;
    width: auto;
}

.software-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.software-stars {
    text-align: left;
    margin-bottom: 20px;
}

.stars {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}

#education div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
}

#education img {
    width: 250px;
    height: auto;
    margin: 0 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #ffffff;
    margin-top: 40px;
}

body.light-theme .footer {
    background-color: #f0f0f0;
    color: #000000;
}

.container p {
    line-height: 1.6;
    margin-bottom: 10px;
}

#contact img {
    width: 32px;
    height: auto;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .main-nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .main-nav ul li {
        margin: 5px;
    }
}
